{%- assign social = site.minima.social_links -%}

<ul class="footer-links">

  {%- if social.github_username -%}
  <li><a href="https://github.com/{{ social.github_username }}">GitHub</a></li>
  {%- endif -%}

  <li><a href="https://hdlbits.01xz.net/wiki/Special:VlgStats/94686AE808000EB">HDLBits</a></li>

  <li><a href="https://medium.com/@karthikmb8">Medium</a></li>

  {%- if social.linkedin -%}
  <li><a href="https://www.linkedin.com/in/{{ social.linkedin }}">LinkedIn</a></li>
  {%- endif -%}

  {%- if social.youtube_channel -%}
  <li><a href="https://www.youtube.com/channel/{{ social.youtube_channel }}">YouTube</a></li>
  {%- endif -%}

  {%- if social.twitter_username -%}
  <li><a href="https://twitter.com/{{ social.twitter_username }}">X / Twitter</a></li>
  {%- endif -%}

  {%- if site.author.email -%}
  <li><a href="mailto:{{ site.author.email }}">Email</a></li>
  {%- endif -%}
</ul>
