---
---
hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.post_navi-item {
  width: 48%; /* Slightly adjusted width to allow for better spacing */
  position: relative;
  padding: 0 2em;
  color: inherit !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.post_navi-item:hover {
  background: #e2e2e2;
}

.post_navi-label {
  font-size: 0.9em;
  opacity: 0.7;
}

.post_navi-arrow {
  font-size: 2.5em;
  opacity: 0.5;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.post_navi-item:hover .post_navi-arrow {
  transform: scale(1.1);
}

/* Align prev/next arrows */
.nav_prev .post_navi-arrow {
  transform: rotate(180deg);
}

.nav_next .post_navi-arrow {
  transform: rotate(0deg);
}

/* HighlightJS overrides */
.hljs {
  max-height: {{ site.code_block_max_height | default: "500px" }};
}

/* Copy code button */
.copy-code-button {
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.copy-code-button:focus {
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {
  margin: 0;
}

@media print {
  .no-print {
    display: none !important;
  }
}

